.grid {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white; /* Default color */
}

.grid.active {
    background-color: rgb(45, 121, 118); /* Color for active cells */
}
