/* Quiz.css */

.quiz {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

.quiz h2 {
  font-size: 1.5em;
}

.quiz div {
  margin-bottom: 10px;
}

.quiz button {
  margin-top: 20px;
}

.question-box{
width: 1200px;

}

.quiz-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  gap: 8px;
  max-width: 200px;
  max-height:800px;
  position: relative;
}



