header {
  text-align: center;
  margin-top: 20px;
}

header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  background: linear-gradient(0deg, #55909b, #56aac0, #22c6cf, #c1dbe2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(216, 216, 216, 0.5));
}
