/*TAB BUTTON*/

#tab-button {
  background-color: #137580;
  height: 50px;
  width: 160px;
  border-radius: 6px;
  margin: 5px;
  color: #ebe7ef;
  cursor: pointer;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#tab-button:hover {
  background-color: #375769;
}

#tab-button.active {
  background-color: #6ea8ab;
  color: #ebe7ef;
}

#ul-tab-button{
  list-style-type: none;
}