@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #000;
  background: radial-gradient(#feffff, #ffffff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}




